/references/

/.vagrant/
/.tmp/
/dev/
/config-*.conf
!/config-docker.conf
!/config-vagrant.conf
.ignore_changes

/cache/
/output/
/artifacts/

.DS_Store
*~
*.swp
**/__pycache__/
*.orig
Dockerfile
.dockerignore
